<!DOCTYPE html>
<html ng-app="pomodogular" ng-controller="PomodoroCtrl">
<head>
    <meta charset="UTF-8">
    <title countdown="remainingSeconds" enabled="dynamicTitle" default-value="Pomodogular">Pomodogular</title>

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/foundation.css">

    <link rel="stylesheet" href="css/pmdr.css" type="text/css" />
</head>
<body>
    <div class="row">
      <div class="small-12 small-centered columns">

            <h1 countdown="remainingSeconds" id="countdown">00:00</h1>

            <div id="ctrlView">
                <button ng-click="start()" ng-disabled="timer.isStarted">start</button>
                <button ng-click="shortBreak()" ng-disabled="timer.isStarted">break</button>
                <button ng-click="longBreak()" ng-disabled="timer.isStarted">long break</button>
                <button ng-click="stop()"  ng-disabled="!timer.isStarted">stop</button>
            </div>

            <form>
                <label for="dynamicTitleCb">Show dynamic title</label>
                <input type="checkbox" id="dynamicTitleCb" ng-click="incPomodoros()" ng-model="dynamicTitle" checked="checked" class="inline" />
            </form>

            <h1 class="pomodoros"><span ng-bind="pomodoros.total">?</span> pomodoros</h1>
      </div>
    </div>

    <audio id="audioAlert">
        <source src="audio/bong.ogg" type="audio/ogg" />
        <source src="audio/bong.mp3" type="audio/mpeg" />
        <source src="audio/bong.wav" type="audio/wave" />
    </audio>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script>
    <script src="js/vendors/underscore.string.min.js"></script>

    <script>
    var pomodogular = angular.module('pomodogular', []);

    pomodogular.constant('bell', document.querySelector('#audioAlert'));

    pomodogular.factory('pomodoros', function(){

        var Pomodoros = function(){
            this.total = parseInt(localStorage.getItem('pomodoros'), 10) || 0;
        }

        Pomodoros.prototype.inc = function(){
            this.total += 1;
            localStorage.setItem('pomodoros', this.total);
        }

        return new Pomodoros();
    });

    pomodogular.factory('timer', function($interval){

        var Timer = function(){
            this._interval = null;
            this.duration = null;
            this.remainingSeconds = null;
            this.isStarted = false;
        }

        Timer.prototype.stop = function() {
            $interval.cancel(this._interval);
            this._interval = null;
            this.duration = null;
            this.remainingSeconds = null;
            this.isStarted = false;
            localStorage.removeItem('timer');
        };

        Timer.prototype.start = function(options) {
            options = options || {};
            this.duration = options.duration;
            this.remainingSeconds = options.duration;
            this.type = options.type;
            this.isStarted = true;

            localStorage.setItem('timer', angular.toJson({
                startedAt: Date.now(),
                duration: options.duration,
                type: options.type
            }));

            $interval.cancel(this._interval);
            var that = this;
            this._interval = $interval(function(){
                if (that.remainingSeconds > 0){
                    that.remainingSeconds = that.remainingSeconds - 1;
                }
                else {
                    that.stop();
                }
            }, 1000);
        };

        return new Timer();

    });

    pomodogular.directive('countdown', function() {
        return {
            restrict: 'A',
            link: function (scope, elem, attrs) {
                var countdownEnabled = true;
                var countdown = '00:00';
                scope.$watch(attrs.enabled, function(enabled) {
                    countdownEnabled = enabled;
                    if (countdownEnabled === false) {
                        elem.text(attrs.defaultValue);
                    }
                    else {
                        elem.text(countdown);
                    }
                });
                scope.$watch(attrs.countdown, function(seconds) {
                    var minutes = parseInt(seconds/60, 10);
                    minutes = _.str.pad(minutes, 2, '0');
                    seconds = _.str.pad(seconds % 60, 2, '0');
                    countdown = minutes+':'+seconds;
                    if (countdownEnabled !== false) {
                        elem.text(countdown);
                    }
                });
            }
        }
    });

    pomodogular.controller('PomodoroCtrl', function($scope, bell, timer, pomodoros) {

        $scope.dynamicTitle = true;
        $scope.remainingSeconds = 0;
        $scope.pomodoros = pomodoros;
        $scope.timer = timer;

        // fetch the localStorage to see if there is no pomodoro already running
        var storedTimer = angular.fromJson(localStorage.getItem('timer'));
        if (storedTimer) {
            var delta = (Date.now() - storedTimer.startedAt) / 1000;
            if (delta > 0) {
                var newDuration = parseInt(storedTimer.duration - delta, 10);
                timer.start({duration: newDuration, type: storedTimer.type});
            }
        }

        // watch the remaining seconds and update the scope.
        $scope.$watch(function(){return timer.remainingSeconds}, function(remainingSeconds){
            $scope.remainingSeconds = remainingSeconds;
            if (remainingSeconds == 0) {
                bell.play();
                if (timer.type === 'pomodoro') {
                    pomodoros.inc();
                }
            }
        });


        $scope.start = function(){
            timer.start({duration: 2, type: 'pomodoro'});
        }
        
        $scope.shortBreak = function(){
            timer.start({duration: 5*60, type: 'shortBreak'});
        }

        $scope.longBreak = function(){
            timer.start({duration: 15*60, type: 'longBreak'});
        }

        $scope.stop = function(){
            timer.stop();
        }

    });
    </script>
</body>
</html>
