<!DOCTYPE html>
<html ng-app="pomodogular" ng-controller="PomodoroCtrl">
<head>
    <meta charset="UTF-8">
    <title countdown="remainingSeconds" enabled="dynamicTitle" default-value="Pomodogular">Pomodogular</title>

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/foundation.css">

    <link rel="stylesheet" href="css/pmdr.css" type="text/css" />

    <script src="js/vendors/modernizr.js"></script>
</head>
<body>
    <div class="row">
      <div class="small-12 small-centered columns">

            <h1 countdown="remainingSeconds" id="countdown">00:00</h1>

            <div id="ctrlView">
                <button ng-click="start()" ng-disabled="timer.isStarted">start</button>
                <button ng-click="shortBreak()" ng-disabled="timer.isStarted">break</button>
                <button ng-click="longBreak()" ng-disabled="timer.isStarted">long break</button>
                <button ng-click="stop()"  ng-disabled="!timer.isStarted">stop</button>
            </div>

            <form>
                <label for="dynamicTitleCb">Show dynamic title</label>
                <input type="checkbox" id="dynamicTitleCb" ng-click="incPomodoros()" ng-model="dynamicTitle" checked="checked" class="inline" />
            </form>

            <div class="pomodoros ng-cloak">
                <h1 class="title">{{pomodoros.total}} pomodoros</h1>
                <a href="#" class="reset" ng-click="resetPomodoros()">reset</a>
            </div>

    </div>

    <audio id="audioAlert">
        <source src="audio/bong.ogg" type="audio/ogg" />
        <source src="audio/bong.mp3" type="audio/mpeg" />
        <source src="audio/bong.wav" type="audio/wave" />
    </audio>


    <script src="js/vendors/jquery.js"></script>
    <script src="js/vendors/fastclick.js"></script>
    <script src="js/vendors/foundation.min.js"></script>

    <script>
        $(document).foundation();
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script>
    <script src="js/vendors/underscore.string.min.js"></script>

    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/directives.js"></script>

</body>
</html>
